body{
    background: rgb(255,246,231);
    background: linear-gradient(208deg, rgba(255,246,231,1) 34%, rgba(255,157,156,1) 75%);;
}
.container{
    background-color: #fff6e7;
    width: 400px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.372);
}
#menu-buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#img{
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 200px;
}
.text{
    text-align: center;
    padding: 15px;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.fa-solid{
    font-size: 20px;
}
.fa-regular{
    font-size: 20px;
}
.player{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.player input{
    width: 70%;
}
.music{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
#progress{
    -webkit-appearance: none;
    height: 4px;
    margin-top: 10px;
    cursor: pointer;
    background: hsla(28, 61%, 84%, 0.742);
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: brown;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: p 5px 5px rgba(255, 26, 26, 0.22);

}
#redheart{
    display: none;
}